<section class="generalSeccion">
    <div class="cardBox">
        <img class="imgClass" [src]="car.imgURL">
        <h2 class="modelClass">{{car.model}}</h2>
        <p class="descriptionClass">{{car.description}}</p>
        <p class=" typeClass">{{car.type}}</p>
        <button [routerLink]="['zoomCar', car.imgURL, car.model, car.description, car.type]">zoomCar</button>
        <input type="text" [(ngModel)]="inputValue">
        <button (click)="saveInputModel()">save</button>
    </div>
</section>